<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:fragment="header">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		
        <title>Bootstrap demo</title>

        <!-- 공통 css -->
        <th:block th:replace="~{common/styles}"></th:block>

        <!-- 컨텐츠 css -->
        <th:block layout:fragment="css"></th:block>

        <!-- 공통 js -->
        <th:block th:replace="~{common/scripts}"></th:block>

        <!-- 컨테느 js -->
        <th:block layout:fragment="script"></th:block>
		
	</head>
</html>